<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992707800803-9jbp00j9bfrjqrsrcjfhqljvuuq38ntg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992707800803-9jbp00j9bfrjqrsrcjfhqljvuuq38ntg</string>
	<key>API_KEY</key>
	<string>AIzaSyCcU9HMVxVa5i_m6S2vHNMzCfr_UurIzJg</string>
	<key>GCM_SENDER_ID</key>
	<string>992707800803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.eminokobayashi.Dialogue</string>
	<key>PROJECT_ID</key>
	<string>dialogue-c4f41</string>
	<key>STORAGE_BUCKET</key>
	<string>dialogue-c4f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992707800803:ios:69de11aa98faef7b709fd6</string>
</dict>
</plist>